<body>
  <div class="wrapper">

    <div class="asgardlogo">
      <img src="D:\github\VerificationCode\image\asgard2.gif" alt="網站Logo">
    </div>
    <div class="wrapper2">
      <div class="title">
        <img src="D:\github\VerificationCode\image\asgard.png" alt="網站Logo">
        <h2>請上傳驗證碼</h2>
      </div>
      <div class="uploadimage">
        <input type="text">
        <button type="submit" title="prwview"accept="image/*,.pdf">選擇圖片</button>
      </div>
      <div class="commit">
        <p type="text">※只支援".jpg"、".png"、".jpeg"案格式。</p>
        <p type="text">※注意一次一張圖片，謝謝。</p>
      </div>
      <div class="upload">
        <button type="submit" title="up"> 上傳</button>
      </div>
    </div>
  </div>
  <style>
    body {
  background-color: #ecf5ff;
  box-sizing: broder-box;
}
.wrapper {
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 4px solid white;
  background-color: white;
  border-radius: 4px;
  max-width: 800px;
  margin: 0 auto;
}
.asgardlogo img{
  width: 183px;
  height: 55px;
}
.wrapper2{
  padding: 10px 70px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 4px solid white;
  background-color: white;
  border-radius: 4px;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: flex-start ;
}
.title img {
  width: 60px;
  height: 60px;
}
h2 {
  color: #0080FF;
  height: 60px;
}

.uploadimage {
  display: flex;
  justify-content: space-around;
  
}

.uploadimage [type="text"] {
  padding: 4px 4px;
  width: 500px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 4px solid #00adeb;
  border-radius: 15px;
}

.uploadimage [type="submit"] {
  background-color: white;
  color: #000066;
  border: 3px solid #00adeb;
  margin: 0px 10px;
  border-radius: 4px;
}

.uploadimage [type="submit"]:hover {
  background-color: #00adeb;
  color: white;
}

.upload {
  display: flex;
  justify-content: center;
}

.commit [type="text" ] {
  font-size:15px;
  color:#0080FF	;
  display: flex;
  justify-content: center;
}



.upload [type="submit"] {
  background-color: white;
  color: #000066;
  border-radius: 4px;
  border: 3px solid #00adeb;
  margin: 0 auto;
}

.upload [type="submit"]:hover {
  background-color: #00adeb;
  color: white;
}

  </style>

</body>